.slider {
  position: relative;
  margin-bottom: 50px;
}

.slider h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  padding-left: 10px;
  border-left: 5px solid #f00;
  margin-bottom: 30px;
}

.poster-slider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.poster-slider::-webkit-scrollbar {
  display: none;
}

.slider .poster-slider .poster {
  position: relative;
  margin-right: 30px;
  min-width: 300px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.poster-slider .rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  color: #fff;
  font-weight: 900;
  border-radius: 0 5px 0 5px;
  background-color: #f00;
  z-index: 2;
}

.slider .poster-slider .poster:last-child {
  margin-right: 0;
}

.poster-slider img {
  border-radius: 5px;
  transition: all 0.2s ease;
}

.poster:hover img {
  transform: scale(1.2);
}

.poster .name {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  z-index: 4;
  color: #fff;
  transition: 0.2s all ease;
}

.poster:before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  transition: 0.2s all ease;
}

.poster:hover .poster::before {
  bottom: 0;
}
.poster:hover .name {
  bottom: 20px;
}
